<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ConnectionDetailPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<handler function="OnPaint" entry="EVT_PAINT" />
		<handler function="OnMouseEnter" entry="EVT_ENTER_WINDOW" />
		<handler function="OnMouseLeave" entry="EVT_LEAVE_WINDOW" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONCONNECTION" variable="ButtonConnection" member="yes">
							<label>Connect</label>
							<handler function="OnButtonConnectionClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
