<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ConnectionManagerDialog">
		<title>Connection Manager</title>
		<centered>1</centered>
		<size>500,400</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizerContainer" member="yes">
					<object class="sizeritem">
						<object class="Custom" name="ID_CONTAINERPANEL" subclass="ScrolledContainerPanel" variable="ContainerPanel" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
							<include_file>ScrolledContainerPanel.h</include_file>
							<local_include>1</local_include>
							<style></style>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>2</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxListBox" name="ID_LISTBOXCONNECTIONS" variable="ListBoxConnections" member="yes">
							<content>
								<item>UDP</item>
								<item>Kinect</item>
								<item>File</item>
							</content>
							<style>wxLB_SINGLE|wxLB_NEEDED_SB</style>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>2</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer2" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON1" variable="ButtonCreate" member="yes">
									<label>Create</label>
									<handler function="OnButtonCreateClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTONREMOVE" variable="ButtonRemove" member="yes">
									<label>Remove</label>
									<handler function="OnButtonRemoveClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
