<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="GLCanvasDialog">
		<title>Canvas Settings</title>
		<centered>1</centered>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>Background Color</label>
					<object class="sizeritem">
						<object class="wxColourPickerCtrl" name="ID_COLOURPICKERCTRL" variable="ColourPickerCtrl" member="yes">
							<colour>#000000</colour>
							<tooltip>Click or enter text to change background color</tooltip>
							<style>wxCLRP_USE_TEXTCTRL</style>
						</object>
						<flag>wxALL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>Line Width</label>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDERLINEWIDTH" variable="SliderLineWidth" member="yes">
							<value>1</value>
							<min>1</min>
							<max>5</max>
							<tickfreq>1</tickfreq>
							<style>wxSL_LABELS|wxSL_TOP</style>
						</object>
						<flag>wxALL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONOK" variable="ButtonOK" member="yes">
							<label>OK</label>
							<default>1</default>
							<handler function="OnButtonOKClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONABORT" variable="ButtonAbort" member="yes">
							<label>Abort</label>
							<handler function="OnButtonAbortClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
