<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MoCapFrame">
		<title>Motion Capturing Toolkit</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<handler function="OnKeyDown" entry="EVT_KEY_DOWN" />
		<object class="wxBoxSizer" variable="FrameSizer" member="yes">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_MAINPANEL" variable="MainPanel" member="yes">
					<handler function="OnMainPanelKeyDown" entry="EVT_KEY_DOWN" />
					<object class="wxBoxSizer" variable="MainSizer" member="yes">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer2" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
										<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
										<object class="wxBoxSizer" variable="BoxSizer1" member="no">
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTONSKELETON" variable="ButtonSkeleton" member="yes">
													<label>Skeleton Editor</label>
													<handler function="OnButtonSkeletonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTONSENSORDETAIL" variable="ButtonSensorDetail" member="yes">
													<label>Sensor Info</label>
													<handler function="OnButtonSensorDetailClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTONVISUAL" variable="ButtonVisual" member="yes">
													<label>Motion Capture</label>
													<focused>1</focused>
													<handler function="OnButtonVisualClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTONMOTIONPLAYER" variable="ButtonMotionPlayer" member="yes">
													<label>Motion Player</label>
													<handler function="OnButtonMotionPlayerClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTONPOSTPROCESS" variable="ButtonPostProcess" member="yes">
													<label>Motion Editor</label>
													<handler function="OnButtonPostProcessClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
												<border>5</border>
												<option>1</option>
												<size>300,-1</size>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTONFULLSCREEN" variable="ButtonFullScreen" member="yes">
													<label>Full Screen</label>
													<handler function="OnButtonFullScreenClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
										</object>
									</object>
									<flag>wxEXPAND</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxEXPAND</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="DataPanelSizer" member="yes">
								<object class="sizeritem">
									<object class="wxPanel" name="ID_DATAPANEL" variable="DataPanel" member="yes" />
									<flag>wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer3" member="no">
								<object class="sizeritem">
									<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
										<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
										<object class="wxBoxSizer" variable="BoxSizer4" member="no">
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTONLOG" variable="ButtonLog" member="yes">
													<label>Show Log</label>
													<handler function="OnButtonLogClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTONCONNECTION" variable="ButtonConnection" member="yes">
													<label>Connection</label>
													<handler function="OnButtonConnectionClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTONDISCONNECT" variable="ButtonDisconnect" member="yes">
													<label>Disconnect</label>
													<enabled>0</enabled>
													<handler function="OnButtonDisconnectClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<flag>wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxEXPAND</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
	</object>
</wxsmith>
