<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="SensorDataExtPanel">
		<bg>#BBBBBB</bg>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizerInfo" member="yes">
					<label>Sensor Info</label>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer2" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXTID" variable="StaticTextID" member="yes">
									<label>Sensor ID</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXTName" variable="StaticTextName" member="yes">
									<label>Name</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXTFPS" variable="StaticTextFPS" member="yes">
									<label>FPS: 0</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXTSTATE" variable="StaticTextState" member="yes">
									<label>State</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer5" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>Est. Delay (ms):</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label>Time Stamp:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
									<label>Received:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
									<label>Lost:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer4" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXTRUNTIME" variable="StaticTextDelay" member="yes">
									<label>0</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXTTIMESTAMP" variable="StaticTextTimeStamp" member="yes">
									<label>0</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXTRECEIVED" variable="StaticTextReceived" member="yes">
									<label>0</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXTLOST" variable="StaticTextLost" member="yes">
									<label>0</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxGLCanvas" name="ID_GLCANVAS" subclass="GLCanvas" variable="glCanvas" member="yes">
					<mDepthSize>16</mDepthSize>
					<size>200,-1</size>
					<bg>#000000</bg>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxToggleButton" name="ID_TOGGLEBUTTONOFFSET" variable="ToggleButtonOffset" member="yes">
							<label>Set Offset</label>
							<handler function="OnToggleButtonOffsetToggle" entry="EVT_TOGGLEBUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANELPLOT" variable="PanelPlot" member="yes">
					<size>300,-1</size>
					<bg>#FFFFFF</bg>
					<style>wxSIMPLE_BORDER</style>
					<handler function="OnPanelPlotPaint" entry="EVT_PAINT" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
