<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="SensorDataPanel">
		<size>80,40</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxNO_BORDER|wxTAB_TRAVERSAL</style>
		<handler function="OnPaint" entry="EVT_PAINT" />
		<handler function="OnLeftDown" entry="EVT_LEFT_DOWN" />
		<handler function="OnRightDown" entry="EVT_RIGHT_DOWN" />
	</object>
</wxsmith>
